.windows8 {
    position: relative;
    width: 50px;
    height: 50px;
}
    .windows8 .wBall {
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 0;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 3.8499999999999996s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 3.8499999999999996s infinite;
    transform: rotate(225deg);
    animation: orbit 3.8499999999999996s infinite;
}
    .windows8 .wBall .wInnerBall {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000000;
    left: 0px;
    top: 0px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
    .windows8 #wBall_1 {
    -webkit-animation-delay: 0.84s;
    -ms-animation-delay: 0.84s;
    animation-delay: 0.84s;
}
    .windows8 #wBall_2 {
    -webkit-animation-delay: 0.17s;
    -ms-animation-delay: 0.17s;
    animation-delay: 0.17s;
}
    .windows8 #wBall_3 {
    -webkit-animation-delay: 0.34s;
    -ms-animation-delay: 0.34s;
    animation-delay: 0.34s;
}
    .windows8 #wBall_4 {
    -webkit-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
    .windows8 #wBall_5 {
    -webkit-animation-delay: 0.67s;
    -ms-animation-delay: 0.67s;
    animation-delay: 0.67s;
}
    @-webkit-keyframes orbit {
    0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    }
    7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
    }
    30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
    }
    39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
    }
    70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
    }
    75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
    }
    76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    }
    100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    }
}
    @-ms-keyframes orbit {
    0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
    }
    7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
    }
    30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
    }
    39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
    }
    70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
    }
    75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
    }
    76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
    }
    100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
    }
}
    @keyframes orbit {
    0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0%;
    }
    30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -ms-transform: rotate(410deg);
    transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
    }
    39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -ms-transform: rotate(645deg);
    transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
    }
    70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -ms-transform: rotate(770deg);
    transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
    }
    75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
    }
    76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    transform: rotate(900deg);
    }
    100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    transform: rotate(900deg);
    }
}