body,
html {
    padding: 0;
    margin: 0;
}
#magazine-wrap {
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
    #magazine {
        position: relative;
        height: inherit;
        text-align: center;
        -webkit-transition: margin-left 0.2s ease-in-out;
        -moz-transition: margin-left 0.2s ease-in-out;
        -o-transition: margin-left 0.2s ease-in-out;
        -ms-transition: margin-left 0.2s ease-in-out;
        transition: margin-left 0.2s ease-in-out;
        div {
            height: inherit;
            background: transparent url(../assets/images/static/loader.gif) no-repeat center center;
            img {
                width: auto;
                position: relative;
                z-index: 9;
            }
        }
    }
}
.page-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    a {
        text-decoration:none;
        display:inline-block;
        width:100px;
        height:100px;
        text-align:center;
        border-radius:100px;
        color:#333;
        
        i {
            font-size: 60px;
            line-height:100px;
        }

&:hover{
color:#FFF;
    background:#333;
}
    }
    .left-arrow {
        float: left;
        margin-left: 2%;
    }
    .right-arrow {
        float: right;
        margin-right: 2%;
    }
}
.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}
